<app-tapnav></app-tapnav>
<app-dropdown></app-dropdown>

<!--<div class="container-fluid">
  <div class="dropdown-select">
    <form action="">
      
      <select name="" class="selectlist">
        <option value="">--Select--</option>
        <option [value]="user" *ngFor="let user of users">{{user.id}}</option>
      </select>
      <div class="multiplelist">
        <select name="cars" class="multiple1" size="4" multiple>
          <option value="">vilvovolvo</option>
          <option [value]="user" *ngFor="let user of users">{{user.name}}</option>
        </select>
        <select name="cars" class="multiple1" multiple>
          <option value="">selectmultiple</option>
          <option [value]="user" *ngFor="let user of users">{{user.name}}</option>
        </select>
      </div>
      <select class="selectlist" [(ngModel)]="users.name" (ngModelChange)="search(users.name)">
        <option value="">--All--</option>
        <option *ngFor="let user of users">{{user.name}}</option>
      </select>
      <select name="" class="selectlist">
        <option value="">--Select--</option>
        <option [value]="user" *ngFor="let user of users">{{user.email}}</option>
      </select>
      <select name="" class="selectlist">
        <option value="">--Select--</option>
        <option [value]="user" *ngFor="let user of users">{{user.address.city}}</option>
      </select>
      <select name="cp" class="selectlist">
        <option value="">CP</option>
        <option [value]="user" *ngFor="let user of users">{{user.id}}</option>
      </select>
      <input class="selectlist" id="cpsearch" style="height: 20px;" type="search" name="CP.Search" placeholder="CP.Search" minlength="5"
        required>
      <br>
      <select name="" class="selectlist1">
        <option value="">--Selectlist--</option>
        <option [value]="user" *ngFor="let user of users">{{user.username}}</option>
      </select>
      <select name="" class="selectlist2">
        <option value="">--Select--</option>
        <option [value]="user" *ngFor="let user of users">{{user.address.street}}</option>
      </select>
      <select name="" id="zipcode" class="selectlist2">
        <option value="">--Select--</option>
        <option [value]="user" *ngFor="let user of users">{{user.address.zipcode}}</option>
      </select>

      <div class="buttons">
        <button type="search" class="btn btn-success btn2">Search</button>
        <button type="reset" (click)="clear()" class="btn btn-success">Reset</button>
      </div>
    </form>

    <div class=" " id="divshow">

      <table class="table table-striped table-bordered">
        <tr class="info">
          <th>SL.No</th>
          <th>CP </th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let user of users1">
          <td>{{user.id}}</td>
          <td>
            <a href="https://www.google.co.in" target="_blank"> {{user.name}}</a>
          </td>
          <td>{{user.email}} </td>
        </tr>
        <tr *ngFor="let ss of details">
          <td> {{ss.name}}</td>
        </tr>

      </table>
    </div>

  </div>
</div>
-->
<!-- <app-dropdown></app-dropdown> -->
<!-- <ngx-select-dropdown [config]="config" [options]="selectItems" 
            [(ngModel)]="dataModel" [multiple]="true" ></ngx-select-dropdown> -->





