
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>AIRBUS</b></a>
    </div>
    <div class="navbar-mqmbrand">            
         <a href="">  <h2> <b>MQM</b></h2></a>
            <p>Mobile<span class="quality">Quality</span>Management</p>          
      </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Routing</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Logout</a></li>
         </ul>
  </div>
</nav>  
